:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title-dark-words-color: #212121;
  --title-light-words-color: #ffffff;
  --title-gray-words-color: #757575;
  --accent-color: #2196f3;
}

body {
  background-color: var(--title-light-words-color);
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--title-dark-words-color);
}

.header-wrapper .link,
.link-logo {
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

ul,
h1,
h2,
h3 {
  padding: 0px;
  margin: 0px;
}

/*Логотип*/

.navigation {
  display: flex;
  align-items: center;
}

.navigation .logo {
  margin-right: 85px;
}

.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-color {
  color: var(--accent-color);
}

/* Меню*/
.menu {
  display: flex;
}

.menu-list-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-dark-words-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/*Контакты*/

.header-wrapper {
  display: flex;
  justify-content: space-between;
  height: 81px;
}
.header-adress {
  display: flex;
  align-items: center;
}

.header-adress-mail-svg {
  width: 16px;
  height: 11.2px;
  fill: var(--title-gray-words-color);
}

.header-adress-link:hover .header-adress-mail-svg {
  fill: var(--accent-color);
}

.header-adress-tel-svg {
  width: 10px;
  height: 15px;
  fill: var(--title-gray-words-color);
}

.header-adress-link:hover .header-adress-tel-svg {
  fill: var(--accent-color);
}

.header-adress-list:not(:last-child) {
  margin-right: 30px;
}

.header-adress-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-gray-words-color);
}

/*Герой*/
/*временное свойство для лучшего восприятия белого текста*/
.hero-wrapper-box {
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/header-copi-smol.jpg);
  margin-left: auto;
  margin-right: auto;
  background-origin: padding-box;
  border: 1px solid #ffffff;
  background-repeat: no-repeat;
}

.hero-wrapper {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-light-words-color);
  /* Цвет текста должен быть белый но пока оставлю по умолчанию*/
}

.btn-hero {
  display: block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--title-light-words-color);
  background-color: var(--accent-color);
}

/*Преймущества*/
.benefits .list-benefits {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-item-benefits {
  width: 270px;
  height: 251px;
}
.list-item-benefits:not(:last-child) {
  margin-right: 30px;
}

.list-item-img {
  padding-top: 25px;
  padding-left: 100px;
  padding-bottom: 25px;
  padding-right: 100px;
  background-color: #f5f4fa;
  border-radius: 4px;

  margin-bottom: 30px;
}

.title-benefits {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-dark-words-color);

  margin-bottom: 10px;
}

.description-benefits {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-gray-words-color);

  margin: 0px;
}

/* Чем мы занимаемся - about Us*/
.title-abaut-us {
  margin-bottom: 50px;
}

.about-us-list {
  display: flex;
  padding-bottom: 94px;
}

.about-us-list-item:not(:last-child) {
  margin-right: 30px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-dark-words-color);
}

.subtitle-about-us {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-light-words-color);
  /*background-color сделал для наглядности в дальнейшем уберется*/
  background-color: rgba(47, 48, 58, 0.8);
}

/* Команда*/
.team-wrapper {
  background-color: #f5f4fa;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.team-list {
  display: flex;
  padding-bottom: 94px;
  width: 1170px;
}

.title-team {
  margin-bottom: 50px;
  padding-top: 94px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-item {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item-img {
  margin-bottom: 30px;
}

.social-link-list {
  display: flex;
  width: 206px;
  height: 44px;
  padding-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.subtitle-team {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-dark-words-color);
}

.text-team {
  margin-top: 0px;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-gray-words-color);
}
/*Клиенты*/
.client-title {
  margin-bottom: 50px;
}

.client-list {
  display: flex;
}

.client-list-item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 90px;
  border: solid 1px #afb1b8;
  border-radius: 4px;
}
.client-list-item:not(:last-child) {
  margin-right: 30px;
}

.client-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Подвал сайта*/

.footer {
  height: 252px;
  background-color: #2f303a;
}

.footer-addres-join-wrapper {
  display: flex;
}

.addres-wrapper {
  margin-top: 60px;
}

.addres-wrapper .logo {
  padding: 0px;
}

.addres-footer-map {
  padding: 0px;
  margin-top: 20px;
}

.list-item-addres-footer {
  margin-top: 9px;
}

.footer-text-join-in-wrapper {
  width: 206px;
  height: 80px;
  margin-top: 72px;
  margin-left: 69px;
}

.addres-footer-map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-light-words-color);
}

.addres-footer-mail,
.addres-footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-text-join-in {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-light-words-color);
}

/*Стили для страницы портфоли "Portfolio.html"*/
/*Кнопки*/
.btn-wrapper {
  padding-top: 93px;
}

.btn-list {
  width: 611px;
  height: 54px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;
  justify-content: center;
}

.btn-list-item:not(:last-child) {
  margin-right: 8px;
}

.button {
  height: 38px; /* Временное свойство*/

  font-weight: 500;
  font-size: 16px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-dark-words-color);
}

.button:hover,
.button:focus {
  color: var(--title-light-words-color);
  background-color: var(--accent-color);
}

/*Портфолио ГАЛЕРЕЯ*/
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
}

.list-portfolio > li {
  width: calc((100% - 60px) / 3);
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
}

/*  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
}
*/
.list-portfolio > li:nth-child(3n) {
  margin-right: 0px;
}

.list-portfolio > li:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.link-portfolio {
  text-decoration: none;
}

.title-portfolio {
  width: 322px;
  height: 36px;
  margin-bottom: 4px;
  margin-left: 24px;

  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-dark-words-color);
}

.link-portfolio > img {
  margin-bottom: 20px;
}

.text-portfolio {
  width: 322px;
  height: 30px;
  margin: 0px;
  margin-left: 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-gray-words-color);
}

.desc-portfolio {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--title-light-words-color);
}
